body {
    font-family: 'Raleway', sans-serif;
    background-color: #f0f8ff;
    /* Light blue background */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

h1#game-title {
    font-size: 2.5em;
    color: #ff69b4;
    text-align: center;
}

#landing-page {
    height: 50vh;
}

button.btn-primary {
    background-color: #ff69b4;
    border-color: #ff69b4;
}

button.btn-primary:hover {
    background-color: #ff85c2;
    border-color: #ff85c2;
}

button.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

button.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

#options img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#options img:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

#message {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff69b4;
}

#error-message {
    font-size: 1.2em;
}

@media (min-width: 768px) {
    #options img {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 992px) {
    #options img {
        width: 250px;
        height: 250px;
    }
}